body {
    font-family: Lato, sans-serif;
}
h1, h2 {
    margin-left: 20px;
}
.section {
    width: 90%;
    display: inline-block;
    padding-bottom: 20px;
    margin: 0 5%;
}
#colors {
    border: 2px solid darkslategray;
}
.colorbox {
    height: 100px;
    width: 30%;
    float: left;
    margin: 10px 0;
}
.outerbox {
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.colorbox p {
    padding: 20px 0;
    text-align: center;
}
#colorbox1 {
    background-color: #00487C;
}
#colorbox2 {
    background-color: #4BB3FD;
}
#colorbox3 {
    background-color: #3E6680;
}
#colorbox4 {
    background-color: #0496FF;
}
#colorbox5 {
    background-color: #027BCE;
}
#colorbox6 {
    background-color: #7CFFC4;
}